*{
    margin: 0;
    padding: 0;
}

.container-carrousel {
    display: flex;
    justify-items: center;
    align-items: center;
    width: auto;
    background-color: rgba(0, 0, 0, 0.301);
    backdrop-filter: blur(5px);
    padding: 5rem 2rem;
    height: 100vh;
}

.horizontal-list{
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
@media only screen and (max-width: 768px) {
    html{
        font-size: 9px;
    }
    .container-carrousel{
        height: auto;
    }
}

@media only screen and (max-width: 600px){
    html{
        font-size: 10px;
    }
    .horizontal-list{
        align-items: center;
       flex-direction: column;
       justify-content: center;
    }
    .container-carrousel{
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
        width: 100%;
    }
}

