@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html{
    font-size: 16px;
    font-family: 'Poppins';
}

*{
    box-sizing: border-box;
}

.card-box{    
    background: #FFFFFF;
    box-shadow: 13px 13px 52px rgba(0, 0, 0, 0.2);
    border-radius: 1.31rem;
    width: 25rem;
    height: auto;
    min-height: 30rem;
    padding-bottom: 2.27rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    
}

.image-mask {
    overflow: hidden;
    background-size: cover;
    background-position: 0%;
    margin: 0;
    padding: 0;
    height: 7.06rem;
    width: 100%;
    border-radius: 1.31rem 1.31rem 0 0 ;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: drop-shadow(-5px -16px 50px rgba(0, 0, 0, 0.8));
}

.image-mask img{
    overflow: hidden;
    z-index: 0;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset -5px -16px 50px rgba(0, 0, 0, 0.8);
}

.image-mask > img {
    width: 100%;
    height: auto;
    display: flex;
}

h2 {
    margin: 0;

}

p{
    margin: 0;
    
}

.text-section{
    padding-inline: 1.75rem;
    margin-top: 1.13rem;
    text-align: center;
    margin-bottom: 2.5rem;
    
}

.text-section > p{
    font-family: 'Poppins';
    font-size: 1rem;
    font-weight: 400;
    margin-top: 0.88rem;
}

.text-section > h2 {
    font-size: 1.50rem;
    font-weight: bold;
}


.button {
    margin-top: auto;
    text-align: center;
    margin-bottom: 1.0rem;
}

.button > a {
    background-color: #9E9E9E;
    border-radius: 0.44rem;
    color: #FFFFFF;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.25rem;
    padding: 0.63rem 1.56rem ; 
    transition: background-color ease 200ms ;   
    text-align: center;
    
}

.button a:hover{
    background-color: #5a5a5a;
}


@media only screen and (max-width: 600px){
    .card-box{
        width: 95%;
        margin-inline: auto ;
    }
    .text-section > p{
        font-size: 1.7rem;
    }
    .text-section > h2{
        font-size: 2rem;
    }

    
    .button > a {
        background-color: #9E9E9E;
        border-radius: 0.44rem;
        color: #FFFFFF;
        font-weight: 700;
        text-decoration: none;
        font-size: 2rem;
        padding: 0.63rem 4rem ; 
        transition: background-color ease 200ms ;   
        text-align: center;  
    }
    
}

